Docur

color:red;}

Pictur

p{font-family:courier;

<style>

h1{font-family:arial;

Quick a

font-size: 150%;

Deskt

font-style:italic;

dev c

font-size: 100%;

saves

font-weight:none;

WD-a

font-style:calibri;

Winde

color:blue;}

OneDri

This PC

</style>